* {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



margin: unset;
padding: unset;
border: unset;

box-sizing: border-box;
list-style: none;



}

header  {
display: flex;
flex-direction: column;
position: fixed;
background-color: mediumorchid;
height: 841px;
width: 300px;
}

.titulo{
    font-size: 42px;
    font-weight: 500;
    color: mediumorchid;
    margin: ;
}



